<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<u><%= @user.name %></u>
			</h1>
			<p>Account Activated: <%= @user.activated? %></p>
		</section>
	</aside>
</div>